<a href="https://colab.research.google.com/github/Yyyyyjkim/COVID19/blob/master/preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
import datetime as dt

In [0]:
roaming = pd.read_csv('/content/drive/My Drive/corona/data/roaming_data.csv')
newslist = pd.read_excel('/content/drive/My Drive/corona/data/newslist.xls')

In [0]:
file_path = '/content/drive/My Drive/corona/data/contents.zip'
!unzip '$file_path' -d '/content/data/'

In [0]:
who = pd.read_csv('/content/drive/My Drive/corona/data/additional_data/WHO_0413.csv')

In [18]:
dt.datetime.strptime(str(roaming['departure'][0]),'%Y%m%d')

datetime.datetime(2020, 1, 30, 0, 0)

In [0]:
roaming['departure']=[dt.datetime.strptime(str(i),'%Y%m%d') for i in roaming['departure']]
roaming['return']=[dt.datetime.strptime(str(i),'%Y%m%d') for i in roaming['return']]
roaming['arrival']=[dt.datetime.strptime(str(i),'%Y%m%d') for i in roaming['arrival']]

In [23]:
roaming.head()

      return iso   arrival  departure  count
0 2020-01-31  ad  20200130 2020-01-30      3
1 2020-01-31  ae  20191231 2020-01-25      3
2 2020-01-31  ae  20191231 2020-01-31      3
3 2020-01-31  ae  20200102 2020-01-02      3
4 2020-01-31  ae  20200104 2020-01-31      3

In [0]:
who['day'] = [dt.datetime.strptime(str(i),'%Y-%m-%d') for i in who['day']]

In [0]:
who['Country'] = who['Country'].dropna()
who['Country'] = [str(i).lower() for i in who['Country']]

In [0]:
roaming = roaming.rename({'iso':'Country','arrival':'day'},axis='columns')

In [51]:
roaming.head()

      return iso    arrival  departure  count
0 2020-01-31  ad 2020-01-30 2020-01-30      3
1 2020-01-31  ae 2019-12-31 2020-01-25      3
2 2020-01-31  ae 2019-12-31 2020-01-31      3
3 2020-01-31  ae 2020-01-02 2020-01-02      3
4 2020-01-31  ae 2020-01-04 2020-01-31      3

In [0]:
roaming_who = pd.merge(roaming,who,on=['Country','day'],how='left')
data = roaming_who.dropna()

In [75]:
set(roaming['Country'])-set(who['Country'])

{'an', 'hk', 'ls', 'mo', 'na', nan, 'tk', 'tm', 'to', 'tp', 'tw', 'vu', 'ws'}

In [0]:
who.loc[who['Country']=='ad']

In [0]:
roaming.loc[roaming['Country']=='ad']

In [85]:
data.sort_values(by=['Country','day'])

          return Country  ... Confirmed Cumulative Confirmed
83798 2020-03-07      ad  ...       0.0                  1.0
83799 2020-03-07      ad  ...       0.0                  1.0
83800 2020-03-07      ad  ...       0.0                  1.0
81667 2020-03-10      ad  ...       0.0                  1.0
81161 2020-03-11      ad  ...       0.0                  1.0
...          ...     ...  ...       ...                  ...
74600 2020-03-24      za  ...     128.0                402.0
73932 2020-03-26      za  ...     152.0                554.0
74221 2020-03-25      za  ...     152.0                554.0
73607 2020-03-27      za  ...       0.0                927.0
73277 2020-03-28      za  ...     243.0               1170.0

[47747 rows x 11 columns]

In [83]:
data.loc[data['Country']=='us'].sort_values(by='day')

          return Country  ... Confirmed Cumulative Confirmed
2405  2020-01-31      us  ...       1.0                  1.0
13796 2020-01-26      us  ...       1.0                  1.0
13797 2020-01-26      us  ...       1.0                  1.0
15887 2020-01-25      us  ...       1.0                  1.0
15888 2020-01-25      us  ...       1.0                  1.0
...          ...     ...  ...       ...                  ...
72615 2020-03-30      us  ...   18093.0             103321.0
72271 2020-03-31      us  ...   19332.0             122653.0
72616 2020-03-30      us  ...   19332.0             122653.0
72272 2020-03-31      us  ...   19332.0             122653.0
72273 2020-03-31      us  ...   17987.0             140640.0

[4777 rows x 11 columns]

In [43]:
who.head()

         day Country  ... Confirmed Cumulative Confirmed
0 2020-02-24      af  ...         1                    1
1 2020-02-25      af  ...         0                    1
2 2020-02-26      af  ...         0                    1
3 2020-02-27      af  ...         0                    1
4 2020-02-28      af  ...         0                    1

[5 rows x 8 columns]